pipeline/PL_Load_One_Table.json
{
	"name": "PL_Load_One_Table",
	"properties": {
		"activities": [
			{
				"name": "Get total_pages",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "@concat(   'https://understandably-unstraying-kamron.ngrok-free.dev',   item(),   '?page=1&page_size=500' )"
				}
			},
			{
				"name": "total_pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get total_pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_pages",
					"value": "@activity('Get_total_pages').output.pagination.total_pages\n"
				}
			}
		],
		"parameters": {
			"endpoint": {
				"type": "string"
			}
		},
		"variables": {
			"page": {
				"type": "String"
			},
			"total_pages": {
				"type": "String"
			}
		},
		"annotations": []
	}
}