pipeline/PL_REST_TO_RAW_PAGED.json
{
	"name": "PL_REST_TO_RAW_PAGED",
	"properties": {
		"activities": [
			{
				"name": "Get total pages",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(\n  'https://understandably-unstraying-kamron.ngrok-free.dev',\n  pipeline().parameters.endpoint,\n  '?page=1&page_size=1'\n)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_REST_To_RAW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get total pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['pagination']['page']"
								},
								"sink": {
									"name": "page"
								}
							},
							{
								"source": {
									"path": "$['pagination']['page_size']"
								},
								"sink": {
									"name": "page_size"
								}
							},
							{
								"source": {
									"path": "$['pagination']['total_pages']"
								},
								"sink": {
									"name": "total_pages"
								}
							},
							{
								"source": {
									"path": "$['pagination']['total_records']"
								},
								"sink": {
									"name": "total_records"
								}
							},
							{
								"source": {
									"path": "['customer_id']"
								},
								"sink": {
									"name": "customer_id"
								}
							},
							{
								"source": {
									"path": "['first_name']"
								},
								"sink": {
									"name": "first_name"
								}
							},
							{
								"source": {
									"path": "['last_name']"
								},
								"sink": {
									"name": "last_name"
								}
							},
							{
								"source": {
									"path": "['email']"
								},
								"sink": {
									"name": "email"
								}
							},
							{
								"source": {
									"path": "['phone']"
								},
								"sink": {
									"name": "phone"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state"
								}
							},
							{
								"source": {
									"path": "['created_at']"
								},
								"sink": {
									"name": "created_at"
								}
							}
						],
						"collectionReference": "$.data"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_RestResource",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": "@concat(   pipeline().parameters.endpoint,   '?page=',   pipeline().parameters.page,   '&page_size=',   pipeline().parameters.page_size )"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ls_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderpath": {
								"value": "@concat(\n  'raw/',\n  pipeline().parameters.table_name,\n  '/ingest_date=',\n  formatDateTime(utcNow(),'yyyy-MM-dd')\n)\n",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Check_More_Pages",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy_REST_To_RAW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(\n  pipeline().parameters.page,\n  activity('Get_Total_Pages').output.pagination.total_pages\n)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Call_Next_Page",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_REST_TO_RAW",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "customers"
			},
			"endpoint": {
				"type": "string",
				"defaultValue": "/customers"
			},
			"page_size": {
				"type": "int",
				"defaultValue": 1
			},
			"page": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"total_pages": {
				"type": "Integer",
				"defaultValue": 1
			},
			"page": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"annotations": []
	}
}