pipeline/PL_REST_TO_RAW.json
{
	"name": "PL_REST_TO_RAW",
	"properties": {
		"activities": [
			{
				"name": "Health_Check_API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://understandably-unstraying-kamron.ngrok-free.dev/health"
				}
			},
			{
				"name": "ForEach1_copy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Health_Check_API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "[\n  {\n    \"table\": \"customers\",\n    \"endpoint\": \"/customers\",\n    \"incremental\": false\n  }\n]",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Health_Check_API').output.status, 'healthy')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET",
												"paginationRules": {
													"AbsoluteUrl": {
														"value": "$.page < $.total_pages",
														"type": "Expression"
													}
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_RestResource",
												"type": "DatasetReference",
												"parameters": {
													"relativeUrl": "@concat(item().endpoint, '?page=1&page_size=100')"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ls_Parquet",
												"type": "DatasetReference",
												"parameters": {
													"folderpath": {
														"value": "@concat(\n  'raw/',\n  item().table\n)\n",
														"type": "Expression"
													},
													"filepath": {
														"value": "@concat(\n  'raw/',\n  item().table,\n  '/ingest_date=',\n  formatDateTime(utcNow(),'yyyy-MM-dd')\n)\n",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"last_order_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}